{% extends "base.html" %}
{% block content %}
<!--
<script type="text/javascript" src="https://cdn.shopify.com/s/assets/external/app.js"></script>
<script type="text/javascript">
    ShopifyApp.init({
        apiKey: '{{ SHOPIFY_APP_API_KEY }}',
        shopOrigin: 'https://{{ user.myshopify_domain }}'
    });
    ShopifyApp.ready(function() {
        ShopifyApp.Bar.initialize({
            title: '{{ SHOPIFY_APP_NAME }}',
            buttons: {}
        });
    });
</script>
-->
<div class="col-md-10">
    <div class="row">
        <div class="col-md-12">
            {% if all_orders %}
            {% for title, orders in all_orders.items reversed %}
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title"><h3>{{ title }}</h3></div>
                </div>
                <div class="panel-body">
                    <div id="orders">
                        {% if orders %}
                        <table class="table data-datable">
                            <thead>
                            <tr>
                                <th> Name</th>
                                <th> Amount</th>
                                <th> Currency</th>
                                <th> Financial Status</th>
                                <th> Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                            <tr style="text-align: center;">
                                <td> {{ order.name }}</td>
                                <td> {{ order.total_price }}</td>
                                <td> {{ order.currency }}</td>
                                <td> {{ order.financial_status }}</td>
                                <td><a class="btn btn-primary"
                                       href="https://{{ current_shop.domain }}/admin/orders/{{ order.id }}"> View </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <em class="note">There are no orders in your store.</em>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="content-box-large">
                <div class="panel-body">
                    <em class="note">There are no orders in your store.</em>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
