<style>
/* Copyright 2010 Google Inc. */

body, html, td, span, div, input, textarea {
  font-family: sans-serif;
  font-size: 14pt;
}

body {
  background-color : #FAFAFA;
  text-align: center;
  opacity: 0.80;
}

h2 {
  text-align: center;
  font-size: 30pt;
  font-weight: bold;
}

td {
  vertical-align: top;
  padding: 5px;
}

a, a:hover {
  text-decoration: underline;
  color: #0000bb;
}

a:visited {
  color: #fff;
}

a.button:visited {
  color: #0000bb;
}

.content {
  background: url(warp_bg.png) no-repeat scroll center 50px;
  beckgroung-height:80%;
  padding-left: 200px;
  padding-top: 100px;
}

.footer{
    background: #000 url(bg_banner.png);
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 25px;
}

.footcopy{
    font-size: 11px;
    color: #666666;
    text-align: center;
}
.footcopy a{
    color: #666666;
}
.footcopy a:hover{
    color: #bb0000;
    font-weight: bold;
}

.menu {

  text-align: left;
  padding: 0 20px 35px 0;
  margin-top: 0px;
  height: 53px;
  width: 107.5%;
  color: #ffffff;
  background: #202020 url(bg_menu.png) repeat-x bottom;
  border-radius: 4px;
}

.menu-user {
  color: #ffffff;
  font-weight: bold;
}

#menu-left {
  float: left;
  height: 55px;
  padding: 15px 0 0 0;
}

#menu-left a:hover{
  background-color: #bb0000;
}

#menu-left a, #menu-left a:visited {
    color: #ffffff;
  text-decoration: none;
  padding: 19px 13px 16.5px 13px;
  line-height: 25px;
  height: 0px;
  margin-top: 22px !important;
  font-size: 16px;
  border-radius: 4px;
}

#menu-right {
  float: right;
  padding-top:15px;
}

#menu-right a, #menu-right a:visited {
    color: #ffffff;
  text-decoration: none;
  padding: 19px 13px 16.5px 13px;
  line-height: 25px;
  height: 0px;
  margin-top: 22px !important;
  font-size: 16px;
  border-radius: 4px;
}

#menu-right a:hover{
  text-decoration : none;
  background-color: #bb0000;
}

.message {
  width: 50%;
  color: #ff0000;
  background: #ffdddd;
  border: 2px solid #ff0000;
  border-radius: 1em;
  -moz-border-radius: 1em;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

input, textarea {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.refresh {
  float: center;
  width: 90%;
  text-align: right;
  margin: auto;
  padding-top: 0;
  padding-bottom: 2pt;
  margin-top: 0;
  margin-bottom: 0;
}

.h2-with-refresh {
  margin-bottom: 0;
}
.input_style {
  height: 37px;
  width: 300px;
  padding: 10px 5px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.button_style {
  height: 37px;
  padding: 10px 24px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
  color: fff;
  background-color: #000;
  padding: 0 35px 2px 35px;
}
.button_style:hover {
    background-color: #bb0000;
}
</style>
