{% extends "base.html" %}
{% block content %}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title"><h3>Install</h3></div>
                </div>
                <div class="panel-body">
                    <p>Install this app in a shop to get order details and check address validations.</p>
                    <form action="{% url 'shopify_app.views.authenticate' %}" method="post">{% csrf_token %}
                        <label for='shop'><strong>The URL of the Shop</strong>
                            <span class="hint">(or just the subdomain if it's at myshopify.com)</span>
                        </label>
                        <p class="form-group">
                            {% if stores %}
                            <select name="shop" id="sshop" class="form-control">
                                {% for store in stores %}
                                <option value="{{ store.domain }}"> {{ store.name }}</option>
                                {% endfor %}
                                <option value="0"> Enter New</option>
                            </select>
                            <br>
                            <input id="ishop" style="display: none" class="form-control" type="text"
                                   placeholder="Enter you domain..."/>
                            {% else %}
                            <input id="shop" class="form-control" name="shop" type="text"/>
                            {% endif %}
                        </p>
                        {% if stores %}
                        <input name="commit" class="btn btn-primary" type="submit" value="Login"/>
                        {% else %}
                        <input name="commit" class="btn btn-primary" type="submit" value="Install"/>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('select#sshop').change(function(){
            if ( !$(this).val() || $(this).val() == 0 ) {
                $('input#ishop').fadeIn(200).attr('name', 'shop');
                $('select#sshop').removeAttr('name');
                $('input[name="commit"]').val('Install');
            } else {
                $('input#ishop').fadeOut(200).removeAttr('name');
                $('select#sshop').attr('name', 'shop');
                $('input[name="commit"]').val('Login');
            }
        });
    });
</script>
{% endblock %}
