<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Shopify App{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    {% load staticfiles %}
    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/styles.css">
    <link href="{{ STATIC_URL }}/js/datatables/dataTables.bootstrap.css" rel="stylesheet" media="screen"/>
    <script src="{{ STATIC_URL }}/js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}/js/datatables/js/jquery.dataTables.min.js"></script>
    <script src="{{ STATIC_URL }}/js/datatables/dataTables.bootstrap.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.cookie.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->
<!-- Navigation & Logo-->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <!-- Logo -->
                <div class="logo">
                    {% if current_shop %}
                    <h1 style="color: #fff;">Welcome to <a href="index.html">{{ current_shop.domain }} </a></h1>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-2">
                {% if current_shop %}
                <div class="navbar navbar-inverse" role="banner">
                    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu animated fadeInUp">
                                    <li><a href='{% url "shopify_app.views.logout" %}'>Sign out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="row">
        {% if current_shop %}
        <div class="col-md-2">
            <div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <li>
                        <a id="dashboard" href="{% url 'home' %}" class="glyphicon glyphicon-dashboard"> Orders </a>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
        {% block content %}{% endblock %}
